{{#if model}}
  {{link-to '< Back to company' 'company' model.companyId class='back-to-company'}}
  <h4>Building: {{model.name}}</h4>
{{else}}
  <h1>Building not found</h1>
{{/if}}

{{#if editing}}
  {{input value=model.name}}
{{else}}
  <button {{action 'edit'}} class="btn-edit">Show more</button>
{{/if}}
